@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500);

.arc path {
          stroke: #fff;
          stroke-width: 2;
}

.dashboard {
    background-color: #377D6A;
    height: 50px;
    width: 100%;
}


html, body {
    background: #7ab893;
}

#inputField {
    white-space: nowrap;
    padding-top: 100px;
    padding-bottom: 25px;
}
#question {
    margin-left: 98px;
}
input[class='option'] {
    font-family: "Open Sans", sans-serif;
    width: 350px;
    padding-top: 15px;
    padding-bottom: 5px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #435160;
    outline: none;
    color: #435160;
    font-size: 25px;
    font-weight: 200;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #848484;
    text-align: center;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #848484;
   opacity:  1;
   text-align: center;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #848484;
   opacity:  1;
   text-align: center;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #848484;
   text-align: center;
}


.button {
    font-family: "Roboto", sans-serif;
    display: inline;
    overflow: hidden;
    margin: 10px;
    padding: 10px 25px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 60ms ease-in-out;
    transition: all 60ms ease-in-out;
    text-align: center;
    white-space: nowrap;
    text-decoration: none !important;
    text-transform: none;
    text-transform: capitalize;
    color: #fff;
    border: 0 none;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.3;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 160px;
          -ms-flex: 0 0 160px;
              flex: 0 0 160px;
}
.button:hover {
    -webkit-transition: all 60ms ease;
    transition: all 60ms ease;
    opacity: .65;
}
.button:active {
    -webkit-transition: all 60ms ease;
    transition: all 60ms ease;
    opacity: .55;
}
.button:focus {
    outline: 1px dotted #959595;
    outline-offset: -4px;
}
#startPoll {
    color: #377d6a;
    background: #7ab893;
    border: 1px solid #377d6a;
}
button#startPoll:hover {
    background: #377d6a;
    color: #a0f1c0;
}

#stopPoll {
    color: #9e2727;
    background: #7ab893;
    border: 1px solid #9e2727;
}
button#stopPoll:hover {
    background: #9e2727;
    color: #fb8080;
}